$base-color-black: #222;
$base-color-blue: #0d84ff;
$base-color-main: #32bac0;
$base-color-green: #13ce66;
$base-color-white: #fff;
$base-color-black: #515a6e;
$base-color-yellow: #f5a623;
$base-color-orange: #f43f31;
$base-color-red: #ff4d4f;
$base-color-grey: rgba(0, 0, 0, 0.6);
$base-color-background: #f0f0f0;

$base-color-text-primary: #303133;
$base-color-text-regular: #606266;
$base-color-text-secondary: #909399;
$base-color-text-placeholder: #c0c4cc;
$base-border-color-base: #dcdfe6;
$base-border-color-light: #e4e7ed;
$base-border-color-lighter: #ebeef5;
$base-border-color-extra-light: #f2f6fc;
$base-background-color-base: #f5f7fa;

//默认层级
$base-z-index: 1999;
//字体大小配置
$base-font-size-small: 12px;
$base-font-size-default: 14px;
$base-font-size-big: 16px;
$base-font-size-bigger: 18px;
$base-font-size-max: 22px;
//圆角
$base-border-radius: 3.5px;
// 大圆角
$base-border-radius-big: 7px;
//边框颜色
$base-border-color: #dcdfe6;


/* 动画 */
//$--all-transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
//$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
//$--fade-linear-transition: opacity 200ms linear !default;
//$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
//opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
//$--border-transition-base: border-color 0.2s
//cubic-bezier(0.645, 0.045, 0.355, 1) !default;
//$--color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/* 圆角 */
$--border-radius-base: $base-border-radius-big !default;

//$--button-small-border-radius: 0px !default;
$--border-radius-small: $--border-radius-base !default;
$--msgbox-border-radius: $--border-radius-base !default;
$--pagination-border-radius: $--border-radius-base !default;
$--tag-border-radius: $--border-radius-base !default;
$--card-border-radius: $--border-radius-base !default;
$--slider-border-radius: $--border-radius-base !default;
$--steps-border-radius: $--border-radius-base !default;

/* 颜色 */
$--color-primary: $base-color-main !default;
$--color-success: $base-color-green !default;
$--color-warning: $base-color-yellow !default;
$--color-danger: $base-color-red !default;
$--color-info: $base-color-grey !default;
$--color-text-primary: $base-color-text-primary !default;
$--color-text-regular: $base-color-text-regular !default;
$--color-text-secondary: $base-color-text-secondary !default;
$--color-text-placeholder: $base-color-text-placeholder !default;
$--border-color-base: $base-border-color-base !default;
$--border-color-light: $base-border-color-light !default;
$--border-color-lighter: $base-border-color-lighter !default;
$--border-color-extra-light: $base-border-color-extra-light !default;
$--background-color-base: $base-color-background !default;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

