@font-face {
    font-family:MiLan-Regular;
    src: url('~@/assets/fonts/MI Lan Pro_Regular.otf')  format('truetype');
}
@font-face {
    font-family:MiLan-Medium;
    src: url('~@/assets/fonts/MI Lan Pro_Medium.otf')  format('truetype');
}
/*
---------定义字体大小
*/
$--fontSize-max:20px;
$--fontSize-big:16px;
$--fontSize-default:14px;
$--fontSize-small:12px;

:root {
    --fontSize-max: #{$--fontSize-max};
    --fontSize-big: #{$--fontSize-big};
    --fontSize-default: #{$--fontSize-default};
    --fontSize-small: #{$--fontSize-small};
}
