@font-face {
    font-family:MiLan-Regular;
    src: url('~@/assets/fonts/MyriadPro-Regular.otf')  format('truetype');
}
@font-face {
    font-family:MiLan-Medium;
    src: url('~@/assets/fonts/MyriadPro-Bold.otf')  format('truetype');
}
/*
---------定义字体大小
*/


$--fontSize-max:24px;
$--fontSize-smax:20px;
$--fontSize-big:18px;
$--fontSize-default:16px;
$--fontSize-small:14px;

:root {
    --fontSize-max: #{$--fontSize-max};
    --fontSize-smax: #{$--fontSize-smax};
    --fontSize-big: #{$--fontSize-big};
    --fontSize-default: #{$--fontSize-default};
    --fontSize-small: #{$--fontSize-small};
}
